{% extends 'base.html.twig' %}

{% block body %}
    <h1>Promotion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ promotion.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ promotion.description }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ promotion.pdf }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{% if promotion.start %}{{ promotion.start|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Finish</th>
                <td>{% if promotion.finish %}{{ promotion.finish|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Displaystart</th>
                <td>{% if promotion.displayStart %}{{ promotion.displayStart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Displayfinish</th>
                <td>{% if promotion.displayFinish %}{{ promotion.displayFinish|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('promotion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('promotion_edit', { 'id': promotion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
