
<div class="cards-small">
    <div class="card-small">
        <div class="card-small-image">
            <a href="{{ path('course_show', {'slug': course.slug  }) }}">
                <img src="/img/tmp/product-2.jpg" alt="{{ course.name }}">
            </a>
        </div>{# /.card-small-image #}

        <div class="card-small-content">
            <h3><a href="{{ path('course_show', {'slug': course.slug  }) }}">{{ course.name }}</a></h3>
            <h4>{{ course.description }}</h4>

            <div class="card-small-price">
                <div class="row">
                    <div class="col-sm-7">{{ course.start|date('d-m-Y') }}</div>
                    <div class="col-sm-4">{{ course.price }}€</div>
                </div>
            </div>
            {##}
        </div>{# /.card-small-content #}
    </div>{# /.card-small #}
</div>{# /.cards-small #}