{% extends 'partials/layout-annuaire.html.twig' %}

{% block title %}Provider{% endblock %}

{% block header_bottom %}
{% include "partials/header.html.twig" %}
{% endblock %}

{% block main %}
    <h1>Courses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Info</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Displaystart</th>
                <th>Displayfinish</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('course_show', { 'slug': course.slug }) }}">{{ course.slug }}</a></td>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.price }}</td>
                <td>{{ course.info }}</td>
                <td>{% if course.start %}{{ course.start|date('Y-m-d') }}{% endif %}</td>
                <td>{% if course.finish %}{{ course.finish|date('Y-m-d') }}{% endif %}</td>
                <td>{% if course.displayStart %}{{ course.displayStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if course.displayFinish %}{{ course.displayFinish|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('course_show', { 'slug': course.slug }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('course_edit', { 'slug': course.slug }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('course_new') }}">Create a new course</a>
        </li>
    </ul>
{% endblock %}
