










_________________________________________________________
<ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">5</a></li>
    <li class="active"><a>6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">Next</a></li>
</ul>
___________________________________________________

<h1>Categories list</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Forward</th>
        <th>Valid</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>{% if category.forward %}Yes{% else %}No{% endif %}</td>
            <td>{% if category.valid %}Yes{% else %}No{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('category_new') }}">Create a new category</a>
    </li>
</ul>

_________________________________________________________________________

<div class="row">
    <div class="events">

        {% if courses|length == 1 %}
            <div class="row">
                <div class="col-sm-6 mb30">
                    {% include "Partials/event.html.twig" %}
                </div><!-- /.col-* -->
            </div><!-- /.row -->

        {% else %}
            {% for course in courses | slice (0,4) %}
                {% if loop.index is odd %}
                    <div class="row">
                {% endif %}

                <div class="col-sm-6 mb30">
                    {% include "Partials/event.html.twig" %}
                </div><!-- /.col-* -->

                {% if loop.index is even or loop.last %}
                    </div><!-- /.row -->
                {% endif %}

            {% endfor %}

        {% endif %}

    </div><!-- /.events -->


</div><!-- /.col-* -->



_______________________________________________________________________

->select("p.name AND p.firstName as m.fullname", "m.name AND m.firstName as m.fullname")




{% include "Partials/event.html.twig" %}
{% if course.index is odd %}



    {% if comments|length == 1 %}
        <div class="row">
            <div class="col-sm-6">
                {% include "Comment/testimonial.html.twig" %}
            </div><!-- /.col-* -->
        </div><!-- /.row -->

    {% else %}
        {% for comment in comments | slice (0,6) %}
            {% if loop.index is odd %}
                <div class="row">
            {% endif %}

            <div class="col-sm-6 ">
            </div><!-- /.col-* -->

            {% if loop.index is even or loop.last %}
                </div><!-- /.row -->
            {% endif %}

        {% endfor %}

    {% endif %}


{% endif %}
______________________________________________________________________________________
{% elseif loop.last %}
    <div class="col-sm-4">
        {% include "Partials/card-tall.html.twig" %}
    </div><!-- /.col-* -->
{% endif %}

{% if providers[i] == length %}

{% for p in providers if (providers.key < length)| slice (0,4) %} <!---->

    {% if loop.first %}
        <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                {% include "Partials/card.html.twig" %}
            </div><!-- /.col-* -->
        </div><!-- /.row -->

    {% else %}
        <div class="col-sm-6">
            {% include "Partials/card.html.twig" %}
        </div><!-- /.col-* -->
    {% endif %}

    </div><!-- /.row -->


{% endfor %}

    {% include "Partials/card-tall.html.twig" %}
    {% include "Partials/card-content.html.twig" with {'p': providers, 'provider' : providers[i]} %}

    {{ dump(i) }}
    {{ dump(length) }}

    {{ dump(providers) }}
    {% if providers[i] == length %}