




                {{ form_start(form) }}
                    <h2>Start Searching Providers</h2>

                    <div class="hero-image-keyword form-group">
                        {{ form_widget(form.keyword,{ 'attr':{"class":"form-control", "placeholder":"Keyword" } }) }}
                        {{ form_errors(form.keyword) }}
                    </div><!-- /.form-group -->

                    <div class="hero-image-location form-group">
                        {{ form_widget(form.localities,{ 'attr':{"class":"form-control"} } ) }}

                    </div><!-- /.form-group -->

                    <div id="category" class="hero-image-category form-group">
                        {{ form_widget(form.categories,{ 'attr':{"class":"form-control"} } ) }}
                    </div><!-- /.form-group -->

                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                {{ form_end(form) }}


