
<div class="cards-small">
    <div class="card-small">
        <div class="card-small-image">
            <a href="listing-detail.html">
                <img src="/img/tmp/product-2.jpg" alt="{{ course.name }}">
            </a>
        </div><!-- /.card-small-image -->

        <div class="card-small-content">
            <h3><a href="listing-detail.html">{{ course.name }}</a></h3>
            <h4><a href="listing-detail.html">{{ course.description }}</a></h4>

            <div class="card-small-price">
                <div class="row">
                    <div class="col-sm-7">{{ course.start|date('d-m-Y') }}</div>
                    <div class="col-sm-4">{{ course.price }}€</div>
                </div>
            </div>
            <!---->
        </div><!-- /.card-small-content -->
    </div><!-- /.card-small -->
</div><!-- /.cards-small -->