{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Addressnumber</th>
                <td>{{ user.addressNumber }}</td>
            </tr>
            <tr>
                <th>Addressstreet</th>
                <td>{{ user.addressStreet }}</td>
            </tr>
            <tr>
                <th>Registration</th>
                <td>{% if user.registration %}{{ user.registration|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Attempts</th>
                <td>{{ user.attempts }}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{% if user.enable %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Confirmreg</th>
                <td>{% if user.confirmReg %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
