{% extends 'partials/layout-annuaire.html.twig' %}

{% block title %}Category{% endblock %}

{% block header_bottom %}
    {% include "partials/header.html.twig" %}
{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">



                    <div class="col-sm-8 col-lg-9">
                        <div class="content">

                            <div class="page-title">
                                <h1>{{ category.name }}</h1>
                            </div>{# /.page-title #}
                            <div class="posts post-detail mb50">
                                <img src="/img/tmp/blog-1.jpg" alt="A Clockwork Origin">
                                <div class="post-content">
                                    <p class='drop-cap'>{{ category.description }}</p>
                                </div>{# /.post-content #}
                            </div>{# /.post #}


                            <div class="page-title">
                                <h2>Providers of this Category</h2>{# /.page-title #}


                            </div>{# /.page-title #}

                            <div class="cards-simple-wrapper">

                                <div class="row">

                                    {% if providers|length > 0 %}

                                        {% for p in providers %}
                                            <div class="col-sm-6 col-lg-4">
                                                <div class="card" data-background-image="/img/tmp/product-1.jpg">
                                                    <div class="card-background">
                                                        <div class="card-content">
                                                            <h2>
                                                                <a href="{{ path('provider_show', { 'slug': p.provider.slug }) }}">{{ p.provider.company }}</a>

                                                            </h2>

                                                            <div class="card-meta">
                                                                {% if p.note_avg != null %}
                                                                    <i class="">Rate : {{ p.note_avg|round(1, 'floor') }}/{{ p.nmb_note }}</i>
                                                                {% else %}
                                                                    <i class="">No rated</i>
                                                                {% endif %}
                                                            </div>{# /.card-meta #}


                                                            <div class="card-simple-rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>{# /.card-rating #}

                                                            <div class="card-simple-actions">
                                                                <a href="#" class="fa fa-star-o"></a>
                                                                <a href="listing-detail.html" class="fa fa-search"></a>
                                                                <a href="#" class="fa fa-heart-o"></a>
                                                            </div>{# /.card-simple-actions #}
                                                        </div>{# /.card-simple-content #}

                                                        <div class="card-simple-label">Vacation</div>

                                                        <div class="card-simple-price">$100 / night</div>

                                                    </div>{# /.card-simple-background #}
                                                </div>{# /.card-simple #}
                                            </div>{# /.col-* #}
                                        {% endfor %}

                                    {% else %}
                                        No Providers in this Category
                                    {% endif %}

                                </div>{# /.row #}
                            </div>{# /.cards-simple-wrapper #}


                            <div class="paginer">
                                {{ knp_pagination_render(providers) }}
                            </div>{# /.pagination #}

                        </div>{# /.content #}
                    </div>{# /.col-* #}



                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widgettitle-30lineheight">Recent Promotions  of this Category</h2>

                                {#{% if promotions is iterable  %} -  NE MARCHE PAS #}
                                {% if promotions|length == 0 %}
                                    <div class="cards-small">
                                        <h5>No Promotions in this category</h5>
                                    </div>{# /.cards-small #}
                                {% else %}
                                    {% for promotion in promotions  %}
                                        {% include "front/promotion/cards-small.html.twig" %}
                                    {% endfor %}
                                {% endif %}
                            </div>{# /.widget #}



                            <div class="widget">
                                <h2 class="widgettitle-30lineheight">Recent Courses of this Category</h2>

                                {#{% if promotions is iterable  %} -  NE MARCHE PAS #}
                                {% if courses|length == 0 %}
                                    <div class="cards-small">
                                        <h5>No Courses in this category</h5>
                                    </div>{# /.cards-small #}
                                {% else %}
                                    {% for course in courses  %}
                                        {% include "front/course/cards-small-course.html.twig" %}
                                    {% endfor %}
                                {% endif %}
                            </div>{# /.widget #}



                            {% include "front/search/filter.html.twig" %}

                            {% include "front/category/categories-menu.html.twig"%}



                        </div>{# /.sidebar #}
                    </div>{# /.col-* #}
                </div>{# /.row #}
            </div>{# /.container #}
        </div>{# /.main-inner #}
    </div>{# /.main #}
{% endblock %}

